h2{
    background-color: grey;
    text-align: center;
    color: yellow;
}

.main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column{
    width: 172px;
}

.column:hover{
    border: 1px solid grey;
}

.text {
    text-align: center;
}